 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-size: 2.25rem;
  font-weight: 700;
  margin: 106px auto 0;
}

.u-section-1 .u-text-2 {
  width: 752px;
  margin: 18px auto 60px;
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1374px;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  font-size: 2.25rem;
  font-weight: 700;
  margin: 61px auto 0;
}

.u-section-2 .u-text-2 {
  width: 647px;
  margin: 19px auto 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 52px 0 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 564px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-image-1 {
  height: 257px;
  object-position: 50% 13.69%;
  width: 257px;
  background-image: url("/images/48ba29f24e4ea2fa7fc34d5c0335c6447a2928e76307a85dbcb40ec232bee9a844d50cd329697ac36250e1d9d2a5af904b51ed567bf1b71328c527_1280.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 32px auto 0;
}

.u-section-2 .u-text-4 {
  font-style: normal;
  margin: 39px auto 0;
}

.u-section-2 .u-social-icons-1 {
  height: 45px;
  min-height: 16px;
  width: 99px;
  min-width: 42px;
  margin: 3px auto 0;
}

.u-section-2 .u-icon-1 {
  height: 100%;
}

.u-section-2 .u-icon-2 {
  height: 100%;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 564px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-2 .u-image-2 {
  height: 257px;
  object-position: 50% 60.72%;
  width: 257px;
  background-image: url("/images/08a3461f-6e0c-4b94-8524-b2fc1f0ce15b.jpg");
  background-position: 100% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-2 .u-text-6 {
  font-style: normal;
  margin: 42px auto 0;
}

.u-section-2 .u-social-icons-2 {
  height: 43px;
  min-height: 16px;
  width: 96px;
  min-width: 42px;
  margin: 3px auto 0;
}

.u-section-2 .u-icon-3 {
  height: 100%;
}

.u-section-2 .u-icon-4 {
  height: 100%;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 564px;
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-2 .u-image-3 {
  height: 257px;
  object-position: 50% 46.55%;
  width: 257px;
  background-image: url("/images/dad0d745403fd9bb101ee6578258f21e85fef0bb6448bc37edcdff50e4bfcc5a7e537dc9f0fa696ce79573ee8cc5b82aafbed75c88846bf636e782_1280.jpg");
  background-position: 50% 50%;
  margin: 0 0 0 auto;
}

.u-section-2 .u-text-7 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 32px auto 0;
}

.u-section-2 .u-text-8 {
  font-style: normal;
  margin: 40px auto 0;
}

.u-section-2 .u-social-icons-3 {
  height: 45px;
  min-height: 16px;
  width: 100px;
  min-width: 42px;
  margin: 2px auto 0;
}

.u-section-2 .u-icon-5 {
  height: 100%;
}

.u-section-2 .u-icon-6 {
  height: 100%;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 564px;
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-2 .u-image-4 {
  height: 257px;
  object-position: 50% 46.55%;
  width: 257px;
  background-image: url("/images/f6e51e3424612f131683924d8be589cfd9e366dbc70eb60d6f1fc6bc345ea25134f0ad6a6679779171fd89ede50c1cabfeab991a71474f57bef5b8_1280.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-9 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 32px auto 0 26px;
}

.u-section-2 .u-text-10 {
  font-style: normal;
  margin: 38px auto 0 92px;
}

.u-section-2 .u-social-icons-4 {
  height: 44px;
  min-height: 16px;
  width: 98px;
  min-width: 42px;
  margin: 5px auto 0 80px;
}

.u-section-2 .u-icon-7 {
  height: 100%;
}

.u-section-2 .u-icon-8 {
  height: 100%;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 564px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 0;
}

.u-section-2 .u-image-5 {
  object-position: 50% 100%;
  height: 257px;
  width: 257px;
  background-image: url("/images/pexels-christina-morillo-1181742.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-11 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-2 .u-text-12 {
  font-style: normal;
  margin: 20px auto 0;
}

.u-section-2 .u-social-icons-5 {
  height: 41px;
  min-height: 16px;
  width: 92px;
  min-width: 42px;
  margin: 6px auto 0;
}

.u-section-2 .u-icon-9 {
  height: 100%;
}

.u-section-2 .u-icon-10 {
  height: 100%;
}

.u-section-2 .u-layout-cell-6 {
  min-height: 564px;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px 0;
}

.u-section-2 .u-image-6 {
  object-position: 50% 100%;
  height: 257px;
  width: 257px;
  background-image: url("/images/c119273843bb5a93da287147620c9eb28efdcd209c1ca31ac67121f54a999629cb885b1fedee6378202c8efe8c5e2d61454a5eafdbe411ae1d742e_1280.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-13 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-2 .u-text-14 {
  font-style: normal;
  margin: 20px auto 0;
}

.u-section-2 .u-social-icons-6 {
  height: 44px;
  min-height: 16px;
  width: 99px;
  min-width: 42px;
  margin: 3px auto 0;
}

.u-section-2 .u-icon-11 {
  height: 100%;
}

.u-section-2 .u-icon-12 {
  height: 100%;
}

.u-section-2 .u-layout-cell-7 {
  min-height: 564px;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px 0;
}

.u-section-2 .u-image-7 {
  object-position: 50% 100%;
  height: 257px;
  width: 257px;
  background-image: url("/images/82a32b82cf2057138f598d16ba829f5fee8c05e367ed555b88447237d50391a7fddd303b94b434dcd9627f322ee287e1238d0abbcec5b11eed3cec_1280.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-15 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-2 .u-text-16 {
  font-style: normal;
  margin: 20px auto 0;
}

.u-section-2 .u-social-icons-7 {
  height: 40px;
  min-height: 16px;
  width: 90px;
  min-width: 42px;
  margin: 6px auto 0;
}

.u-section-2 .u-icon-13 {
  height: 100%;
}

.u-section-2 .u-icon-14 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1180px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 465px;
  }

  .u-section-2 .u-social-icons-1 {
    width: 63px;
    min-width: 16px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 465px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 465px;
  }

  .u-section-2 .u-social-icons-3 {
    width: 99px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 465px;
  }

  .u-section-2 .u-image-4 {
    height: 213px;
    width: 213px;
  }

  .u-section-2 .u-text-10 {
    margin-left: 74px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 465px;
  }

  .u-section-2 .u-image-5 {
    height: 213px;
    width: 213px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 465px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 465px;
  }

  .u-section-2 .u-image-7 {
    height: 164px;
    width: 164px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1191px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: -111px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 432px;
  }

  .u-section-2 .u-image-1 {
    height: 171px;
    width: 171px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-image-2 {
    height: 171px;
    width: 171px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 432px;
  }

  .u-section-2 .u-image-3 {
    height: 171px;
    width: 171px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-image-4 {
    height: 158px;
    width: 158px;
  }

  .u-section-2 .u-text-10 {
    margin-left: 55px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-2 .u-image-5 {
    height: 158px;
    width: 158px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 486px;
  }

  .u-section-2 .u-image-6 {
    height: 171px;
    width: 171px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-2 .u-image-7 {
    height: 120px;
    width: 120px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2745px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-text-7 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2809px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }
}